nav {
  width: 100vw;
  ul {
    background-color: #27296d;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
    color: white;
    display: flex;
    align-items: center;

    li {
      list-style-type: none;
      font-size: 20px;
    }
  }
}
