.email-container {
  margin-top: 20px;
  width: 90%;
  background-color: #e7eaf6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid gray;

  .email-content {
    width: 90%;
    padding: 20px 0;
  }
  .subject {
    text-align: left;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
  }

  .sender {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;

    .info {
      display: flex;

      .from {
        color: #c1c0b9;
      }
    }
  }

  .body {
    margin-top: 20px;
    text-align: start;
  }
}
