.emails-section {
  width: 100%;
}

form {
  .form-content {
    background-color: white;
    padding: 0 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-align: left;
    width: 100%;
    padding-top: 30px;

    .subject {
      padding-bottom: 10px;
    }

    .input-row {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid #ccc;
    }

    select {
      width: 50%;
      height: 35px;
    }
    button {
      width: 50%;
    }

    input {
      font-size: 16px;
      border: none;
      padding: 10px 5px;
      width: 100%;
    }

    input:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }

    label {
      width: 100px;
      padding-right: 20px;
      font-weight: bold;
    }

    textarea {
      height: 100px;
    }

    button {
      padding: 15px 20px;
      border-radius: 20px;
      border: none;
    }

    .button-row {
      display: flex;
      justify-content: flex-end;

      button {
        width: auto;
        cursor: pointer;
        background-color: #27296d;
        color: white;
      }
    }
  }
}
